<!doctype html>

<a href="{{ url_for("question",page=0) }}" class="btn btn-info btn-lg" role="button">Easy Task</a>
<p></p>
<a href="{{ url_for("question",page=10) }}" class="btn btn-info btn-lg" role="button">Medium Task</a>
<p></p>

<a href="{{ url_for("question",page=20) }}" class="btn btn-info btn-lg" role="button">Hard Task</a>
<p></p>

<a href="{{ url_for("question",page=30) }}" class="btn btn-info btn-lg" role="button">Mandarin Food</a>
<p></p>

<a href="{{ url_for("question",page=40) }}" class="btn btn-info btn-lg" role="button">Mandarin Animals</a>
<p></p>

<a href="{{ url_for("question",page=50) }}" class="btn btn-info btn-lg" role="button">Mandarin Nature</a>
<p></p>

<a href="{{ url_for("question",page=60) }}" class="btn btn-info btn-lg" role="button">Mandarin Places</a>
<p></p>

<a href="{{ url_for("question",page=70) }}" class="btn btn-info btn-lg" role="button">Mandarin Objects</a>
<p></p>


<a href="{{ url_for("question",page=80) }}" class="btn btn-info btn-lg" role="button">Mandarin Colors</a>
<p></p>

<a href="{{ url_for("question",page=90) }}" class="btn btn-info btn-lg" role="button">Gernam Food</a>
<p></p>

<a href="{{ url_for("question",page=100) }}" class="btn btn-info btn-lg" role="button">Gernam Nature</a>
<p></p>


<a href="{{ url_for("question",page=110) }}" class="btn btn-info btn-lg" role="button">Gernam Clothing</a>
<p></p>

<a href="{{ url_for("question",page=120) }}" class="btn btn-info btn-lg" role="button">Gernam Animals</a>
<p></p>

<a href="{{ url_for("question",page=130) }}" class="btn btn-info btn-lg" role="button">Gernam Objects</a>
<p></p>

<a href="{{ url_for("question",page=140) }}" class="btn btn-info btn-lg" role="button">Gernam Places</a>
<p></p>

